In [1]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
insp_data = create_pandas_table("SELECT fiscal_year, fiscal_month, week_of_month, tm_sales, tm_minutes, tm_efficiency FROM ce WHERE fiscal_year=(SELECT MAX(fiscal_year) FROM inspections) AND fiscal_month=(SELECT MAX(fiscal_month) FROM inspections) AND location = '183'")
cur.close()
conn.close()

df=insp_data

DatabaseError: Execution failed on sql 'SELECT fiscal_year, fiscal_month, week_of_month, tm_sales, tm_minutes, tm_efficiency FROM ce WHERE fiscal_year=(SELECT MAX(fiscal_year) FROM inspections) AND fiscal_month=(SELECT MAX(fiscal_month) FROM inspections) AND location = '183'': column "week_of_month" does not exist
LINE 1: SELECT fiscal_year, fiscal_month, week_of_month, tm_sales, t...
                                          ^

In [ ]:
df