In [1]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
ce_data = create_pandas_table("SELECT fiscal_year, fiscal_month, week_of_month, tm_sales, tm_minutes, tm_efficiency FROM ce WHERE fiscal_year=(SELECT MAX(fiscal_year) FROM ce) AND fiscal_month=(SELECT MAX(fiscal_month) FROM ce) AND location = '183'")
cur.close()
conn.close()

df=ce_data

In [2]:
df

,fiscal_year,fiscal_month,week_of_month,tm_sales,tm_minutes,tm_efficiency
0,2020,03,3,270.20,28,9.65
1,2020,03,3,242.06,22,11.00
2,2020,03,3,273.54,24,11.40
3,2020,03,3,332.75,21,15.85
4,2020,03,3,151.02,22,6.86
5,2020,03,3,192.79,24,8.03
6,2020,03,3,170.44,20,8.52
7,2020,03,2,205.90,23,8.95
8,2020,03,2,210.82,19,11.00
9,2020,03,2,205.14,21,9.77
10,2020,03,2,245.16,24,10.22
11,2020,03,2,161.44,16,10.09