In [6]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
insp_data = create_pandas_table("SELECT fiscal_year, fiscal_month, week_of_month, week_of_year, quarter, score FROM gamefilm WHERE concept='Rudys' AND quarter=(SELECT MAX(quarter) FROM inspections) OR quarter=(SELECT MAX(quarter)-1 FROM inspections) ORDER BY fiscal_year, quarter, fiscal_month, week_of_month")
cur.close()
conn.close()

df=insp_data

In [7]:
df

   fiscal_year fiscal_month  week_of_month  week_of_year  quarter  score
0         2020            6              1            23        2     85
1         2020            6              1            23        2     95
2         2020            6              2            24        2     72