In [18]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
insp_data = create_pandas_table("SELECT fiscal_year, fiscal_month, week_of_month, week_of_year, quarter, score FROM inspections WHERE location = 'MF1' AND quarter=(SELECT MAX(quarter) FROM inspections) OR quarter=(SELECT MAX(quarter)-1 FROM inspections) ORDER BY quarter, fiscal_month, week_of_month")
cur.close()
conn.close()

df=insp_data

In [19]:
df

   fiscal_year fiscal_month  week_of_month  week_of_year  quarter  score
0         2020           05              1            18        2   3.45
1         2020           05              1            18        2   3.62
2         2020           05              2            19        2   3.68
3         2020           05              2            19        2   3.48
4         2020           05              2            19        2   3.49
5         2020           05              2            19        2   3.57