In [50]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
sales_data = create_pandas_table("SELECT score FROM inspections WHERE location = '183' GROUP BY score")
cur.close()
conn.close()

df=sales_data

df.fillna(0,inplace=True)

In [51]:
df

   score
0   3.51
1   3.52
2   3.55
3   3.65