In [9]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
insp_data = create_pandas_table("SELECT fiscal_year, fiscal_month, week_of_month, score FROM inspections WHERE fiscal_year=(SELECT MAX(fiscal_year) FROM inspections) AND fiscal_month=(SELECT MAX(fiscal_month) FROM inspections) AND location = '183'")
cur.close()
conn.close()

df=insp_data

In [10]:
df

   fiscal_year fiscal_month  week_of_month  score
0         2020           05              2   3.52
1         2020           05              2   3.55
2         2020           05              2   3.65
3         2020           05              1   3.51
4         2020           05              1   3.65