In [1]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
sales_data = create_pandas_table("SELECT week_of_year, sales, fiscal_year FROM sales WHERE location = '183' AND fiscal_year > 2017 ORDER BY week_of_year, fiscal_year")
cur.close()
conn.close()

df=sales_data

df.fillna(0,inplace=True)

#find current year
current_year=df['fiscal_year'].max()

#find current week based on last entry in df
curr_week=df[df['fiscal_year']==current_year]['week_of_year'].max()

df_cumul=df.groupby(['fiscal_year','week_of_year'])['sales'].sum().reset_index()

df_cumul_2018=df_cumul[df_cumul['fiscal_year']==2018]
df_cumul_2018['cumulative']=df_cumul_2018['sales'].cumsum()
df_cumul_2018=df_cumul_2018[(df_cumul_2018['week_of_year'] >= curr_week-4) & (df_cumul_2018['week_of_year'] <= curr_week+4)]
df_cumul_2018.drop(columns=['sales'],inplace=True)

df_cumul_2019=df_cumul[df_cumul['fiscal_year']==2019]
df_cumul_2019['cumulative']=df_cumul_2019['sales'].cumsum()
df_cumul_2019=df_cumul_2019[(df_cumul_2019['week_of_year'] >= curr_week-4) & (df_cumul_2019['week_of_year'] <= curr_week+4)]
df_cumul_2019.drop(columns=['sales'],inplace=True)

df_cumul_2020=df_cumul[df_cumul['fiscal_year']==2020]
df_cumul_2020['cumulative']=df_cumul_2020['sales'].cumsum()
df_cumul_2020=df_cumul_2020[(df_cumul_2020['week_of_year'] >= curr_week-4) & (df_cumul_2020['week_of_year'] <= curr_week+4)]
df_cumul_2020.drop(columns=['sales'],inplace=True)

<ipython-input-1-ba4d4c9ffe5c>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cumul_2018['cumulative']=df_cumul_2018['sales'].cumsum()
<ipython-input-1-ba4d4c9ffe5c>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cumul_2019['cumulative']=df_cumul_2019['sales'].cumsum()
<ipython-input-1-ba4d4c9ffe5c>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cumul_2020['cumulative']=df_cumul_2020['sales'].cumsum()

In [2]:
frames = [df_cumul_2018, df_cumul_2019, df_cumul_2020]
result=pd.concat(frames)

In [3]:
result

     fiscal_year  week_of_year  cumulative
11          2018            12   2621117.0
12          2018            13   2887985.0
13          2018            14   3114516.0
14          2018            15   3348294.0
15          2018            16   3593968.0
16          2018            17   3827660.0
17          2018            18   4042406.0
18          2018            19   4299574.0
19          2018            20   4537393.0
63          2019            12   2378294.0
64          2019            13   2602631.0
65          2019            14   2805024.0
66          2019            15   3032979.0
67          2019            16   3278341.0
68          2019            17   3493564.0
69          2019            18   3718806.0
70          2019            19   3962149.0
71          2019            20   4176722.0
97          2020            12   2287312.0
98          2020            13   2407595.0
99          2020            14   2523754.0
100         2020            15   2680113.0
101         2020            16   2815827.0