In [7]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
taco_data = create_pandas_table("SELECT fiscal_year, fiscal_month, week_of_month, week_of_year, quarter, time_in_seconds FROM tacotimes WHERE concept='Rudys' AND quarter=(SELECT MAX(quarter) FROM tacotimes) OR quarter=(SELECT MAX(quarter)-1 FROM tacotimes) ORDER BY fiscal_year, quarter, fiscal_month, week_of_month")
cur.close()
conn.close()

df=taco_data

In [8]:
df

,fiscal_year,fiscal_month,week_of_month,week_of_year,quarter,time_in_seconds
0,2020,6,1,23,2,101
1,2020,6,1,23,2,132
2,2020,6,1,23,2,45
3,2020,6,1,23,2,47
4,2020,6,1,23,2,19
5,2020,6,1,23,2,84
6,2020,6,1,23,2,198