In [2]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
tgl_data = create_pandas_table("SELECT fiscal_year, fiscal_month, week_of_month, week_of_year, week_ending, quarter, number_measured, number_passed FROM tgl WHERE location = '183' AND (quarter=(SELECT MAX(quarter) FROM tgl) OR quarter=(SELECT MAX(quarter)-1 FROM tgl)) ORDER BY fiscal_year, quarter, fiscal_month, week_of_month")
cur.close()
conn.close()

df=tgl_data

In [3]:
df

,fiscal_year,fiscal_month,week_of_month,week_of_year,week_ending,quarter,number_measured,number_passed
0,2020,6,1,23,2020-06-07,2,3,3
1,2020,6,2,24,2020-06-14,2,4,4
2,2020,6,3,25,2020-06-21,2,3,0
3,2020,6,4,26,2020-06-28,2,4,3