In [98]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
sales_data = create_pandas_table("SELECT week_of_year, sales, total_guest_count, fiscal_year, location FROM sales WHERE fiscal_year > 2017 ORDER BY week_of_year, fiscal_year")
cur.close()
conn.close()

df=sales_data

df.fillna(0,inplace=True)

#find current year
current_year=df['fiscal_year'].max()

#find current week based on last entry in df
curr_week=df[df['fiscal_year']==current_year]['week_of_year'].max()

df=df[(df['week_of_year'] >= curr_week-6) & (df['week_of_year'] <= curr_week+6)]

df_agg_sales=df.groupby(['fiscal_year','week_of_year'])['sales'].sum().reset_index()
df_agg_gc=df.groupby(['fiscal_year','week_of_year'])['total_guest_count'].sum().reset_index()

df_agg_sales.sort_values(by=['week_of_year','fiscal_year'],inplace=True)
df_agg_gc.sort_values(by=['week_of_year','fiscal_year'],inplace=True)

df_agg_sales['percent_sales']=df_agg_sales['sales'].pct_change().round(4)*100
df_agg_gc['percent_guest_count']=df_agg_gc['total_guest_count'].pct_change().round(4)*100
df_agg_sales.sort_values(by=['fiscal_year','week_of_year'],inplace=True)
df_agg_gc.sort_values(by=['fiscal_year','week_of_year'],inplace=True)

In [99]:
df_agg_gc

    fiscal_year  week_of_year  total_guest_count  percent_guest_count
0          2018            10            59283.0                  NaN
1          2018            11            63657.0               -43.75
2          2018            12            60238.0               -39.77
3          2018            13            62201.0               -19.57
4          2018            14            58772.0               -20.85
5          2018            15            59738.0                -6.94
6          2018            16            63355.0               -18.88
7          2018            17            62603.0               -19.22
8          2018            18            61171.0                -5.44
9          2018            19            64492.0                 0.44
10         2018            20            63689.0                -3.87
11         2018            21            68502.0                 2.67
12         2018            22            70391.0                -3.26
13         2019            10           114387.0                92.95
14         2019            11           113454.0                78.23
15         2019            12           109349.0                81.53
16         2019            13           124372.0                99.95
17         2019            14           115973.0                97.33
18         2019            15           123094.0               106.06
19         2019            16           128876.0               103.42
20         2019            17            64693.0                 3.34
21         2019            18            64209.0                 4.97
22         2019            19            66256.0                 2.74
23         2019            20            66720.0                 4.76
24         2019            21            72765.0                 6.22
25         2019            22            74668.0                 6.08
26         2020            10           113161.0                -1.07
27         2020            11           100012.0               -11.85
28         2020            12            77335.0               -29.28
29         2020            13            74250.0               -40.30
30         2020            14            64191.0               -44.65
31         2020            15            78104.0               -36.55
32         2020            16            77499.0               -39.87

In [100]:
df_total=df_agg_sales.join(df_agg_gc, lsuffix='_l',rsuffix='_r')
df_total

,fiscal_year_l,week_of_year_l,sales,percent_sales,fiscal_year_r,week_of_year_r,total_guest_count,percent_guest_count
0,2018,10,1018265.0,NaN,2018,10,59283.0,NaN
1,2018,11,1042652.0,-4.63,2018,11,63657.0,-43.75
2,2018,12,1028983.0,6.43,2018,12,60238.0,-39.77
3,2018,13,1125776.0,54.64,2018,13,62201.0,-19.57
4,2018,14,999711.0,50.01,2018,14,58772.0,-20.85
5,2018,15,1028957.0,57.08,2018,15,59738.0,-6.94
6,2018,16,1163814.0,40.91,2018,16,63355.0,-18.88
7,2018,17,1190015.0,49.77,2018,17,62603.0,-19.22
8,2018,18,1104017.8,-1.53,2018,18,61171.0,-5.44
9,2018,19,1253423.0,11.64,2018,19,64492.0,0.44
10,2018,20,1184007.0,1.23,2018,20,63689.0,-3.87
11,2018,21,1265894.0,6.73,2018,21,68502.0,2.67
12,2018,22,1239272.0,-8.18,2018,22,70391.0,-3.26
13,2019,10,1055813.0,3.69,2019,10,114387.0,92.95
14,2019,11,1084874.0,4.05,2019,11,113454.0,78.23
15,2019,12,1051818.0,2.22,2019,12,109349.0,81.53
16,2019,13,1163212.0,3.33,2019,13,124372.0,99.95
17,2019,14,1050907.0,5.12,2019,14,115973.0,97.33
18,2019,15,1164944.0,13.22,2019,15,123094.0,106.06
19,2019,16,1224842.0,5.24,2019,16,128876.0,103.42
20,2019,17,1121129.0,-5.79,2019,17,64693.0,3.34
21,2019,18,1122739.0,1.70,2019,18,64209.0,4.97
22,2019,19,1169616.0,-6.69,2019,19,66256.0,2.74
23,2019,20,1186099.0,0.18,2019,20,66720.0,4.76
24,2019,21,1349679.0,6.62,2019,21,72765.0,6.22
25,2019,22,1293463.0,4.37,2019,22,74668.0,6.08
26,2020,10,1093268.0,3.55,2020,10,113161.0,-1.07
27,2020,11,966854.0,-10.88,2020,11,100012.0,-11.85
28,2020,12,728004.0,-30.79,2020,12,77335.0,-29.28
29,2020,13,666436.0,-42.71,2020,13,74250.0,-40.30
30,2020,14,655051.0,-37.67,2020,14,64191.0,-44.65
31,2020,15,825948.0,-29.10,2020,15,78104.0,-36.55
32,2020,16,794569.0,-35.13,2020,16,77499.0,-39.87

In [101]:
df_total.drop(columns=['fiscal_year_r','week_of_year_r'],inplace=True)
df_total.rename(columns={'fiscal_year_l':'fiscal_year','week_of_year_l':'week_of_year'},inplace=True)

In [102]:
df_total

,fiscal_year,week_of_year,sales,percent_sales,total_guest_count,percent_guest_count
0,2018,10,1018265.0,NaN,59283.0,NaN
1,2018,11,1042652.0,-4.63,63657.0,-43.75
2,2018,12,1028983.0,6.43,60238.0,-39.77
3,2018,13,1125776.0,54.64,62201.0,-19.57
4,2018,14,999711.0,50.01,58772.0,-20.85
5,2018,15,1028957.0,57.08,59738.0,-6.94
6,2018,16,1163814.0,40.91,63355.0,-18.88
7,2018,17,1190015.0,49.77,62603.0,-19.22
8,2018,18,1104017.8,-1.53,61171.0,-5.44
9,2018,19,1253423.0,11.64,64492.0,0.44
10,2018,20,1184007.0,1.23,63689.0,-3.87
11,2018,21,1265894.0,6.73,68502.0,2.67
12,2018,22,1239272.0,-8.18,70391.0,-3.26
13,2019,10,1055813.0,3.69,114387.0,92.95
14,2019,11,1084874.0,4.05,113454.0,78.23
15,2019,12,1051818.0,2.22,109349.0,81.53
16,2019,13,1163212.0,3.33,124372.0,99.95
17,2019,14,1050907.0,5.12,115973.0,97.33
18,2019,15,1164944.0,13.22,123094.0,106.06
19,2019,16,1224842.0,5.24,128876.0,103.42
20,2019,17,1121129.0,-5.79,64693.0,3.34
21,2019,18,1122739.0,1.70,64209.0,4.97
22,2019,19,1169616.0,-6.69,66256.0,2.74
23,2019,20,1186099.0,0.18,66720.0,4.76
24,2019,21,1349679.0,6.62,72765.0,6.22
25,2019,22,1293463.0,4.37,74668.0,6.08
26,2020,10,1093268.0,3.55,113161.0,-1.07
27,2020,11,966854.0,-10.88,100012.0,-11.85
28,2020,12,728004.0,-30.79,77335.0,-29.28
29,2020,13,666436.0,-42.71,74250.0,-40.30
30,2020,14,655051.0,-37.67,64191.0,-44.65
31,2020,15,825948.0,-29.10,78104.0,-36.55
32,2020,16,794569.0,-35.13,77499.0,-39.87