In [67]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
acc_data = create_pandas_table("SELECT o.fiscal_year, o.fiscal_month, o.week_of_month, o.week_of_year, o.week_ending, o.quarter, o.inaccurate_count, s.total_guest_count FROM orderaccuracy AS o INNER JOIN sales AS s ON o.concept = s.concept AND o.location = s.location AND o.week_ending = s.week_ending WHERE o.concept = 'Mighty Fine' AND (o.quarter=(SELECT MAX(quarter) FROM orderaccuracy) OR o.quarter=(SELECT MAX(quarter)-1 FROM orderaccuracy)) ORDER BY o.fiscal_year, o.quarter, o.fiscal_month, o.week_of_month")
cur.close()
conn.close()

df=acc_data

In [68]:
df

,fiscal_year,fiscal_month,week_of_month,week_of_year,week_ending,quarter,inaccurate_count,total_guest_count
0,2020,7,1,27,2020-07-05,3,13,5038
1,2020,7,1,27,2020-07-05,3,10,5936
2,2020,7,1,27,2020-07-05,3,12,6050
3,2020,7,1,27,2020-07-05,3,0,2173
4,2020,7,1,27,2020-07-05,3,9,5167
5,2020,7,2,28,2020-07-12,3,5,5060
6,2020,7,2,28,2020-07-12,3,11,5787
7,2020,7,2,28,2020-07-12,3,17,6153
8,2020,7,2,28,2020-07-12,3,0,1992
9,2020,7,2,28,2020-07-12,3,9,5089