In [1]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
sales_data = create_pandas_table("SELECT week_of_year, sales, fiscal_year FROM sales WHERE fiscal_year > 2017 ORDER BY week_of_year, fiscal_year")
cur.close()
conn.close()

df=sales_data

df.fillna(0,inplace=True)

#find current year
current_year=df['fiscal_year'].max()

#find current week based on last entry in df
curr_week=df[df['fiscal_year']==current_year]['week_of_year'].max()

df_cumul=df.groupby(['fiscal_year','week_of_year'])['sales'].sum().reset_index()

df_cumul_2018=df_cumul[df_cumul['fiscal_year']==2018]
df_cumul_2018['cumulative']=df_cumul_2018['sales'].cumsum()
df_cumul_2018=df_cumul_2018[(df_cumul_2018['week_of_year'] >= curr_week-4) & (df_cumul_2018['week_of_year'] <= curr_week+4)]
df_cumul_2018.drop(columns=['sales'],inplace=True)

df_cumul_2019=df_cumul[df_cumul['fiscal_year']==2019]
df_cumul_2019['cumulative']=df_cumul_2019['sales'].cumsum()
df_cumul_2019=df_cumul_2019[(df_cumul_2019['week_of_year'] >= curr_week-4) & (df_cumul_2019['week_of_year'] <= curr_week+4)]
df_cumul_2019.drop(columns=['sales'],inplace=True)

df_cumul_2020=df_cumul[df_cumul['fiscal_year']==2020]
df_cumul_2020['cumulative']=df_cumul_2020['sales'].cumsum()
df_cumul_2020=df_cumul_2020[(df_cumul_2020['week_of_year'] >= curr_week-4) & (df_cumul_2020['week_of_year'] <= curr_week+4)]
df_cumul_2020.drop(columns=['sales'],inplace=True)

c:\users\gunhoe86\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\gunhoe86\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\gunhoe86\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [2]:
frames = [df_cumul_2018, df_cumul_2019, df_cumul_2020]
result=pd.concat(frames)

In [3]:
result

     fiscal_year  week_of_year  cumulative
11          2018            12  11374615.0
12          2018            13  12500391.0
13          2018            14  13500102.0
14          2018            15  14529059.0
15          2018            16  15692873.0
16          2018            17  16882888.0
17          2018            18  17986905.8
18          2018            19  19240328.8
19          2018            20  20424335.8
63          2019            12  12055931.0
64          2019            13  13219143.0
65          2019            14  14270050.0
66          2019            15  15434994.0
67          2019            16  16659836.0
68          2019            17  17780965.0
69          2019            18  18903704.0
70          2019            19  20073320.0
71          2019            20  21259419.0
97          2020            12  11942227.0
98          2020            13  12608663.0
99          2020            14  13263714.0
100         2020            15  14089662.0
101         2020            16  14884231.0

In [4]:
result.sort_values(by=['week_of_year', 'fiscal_year'],inplace=True)
result['percent_cumul']=result['cumulative'].pct_change().round(4)*100

In [5]:
result

     fiscal_year  week_of_year  cumulative  percent_cumul
11          2018            12  11374615.0            NaN
63          2019            12  12055931.0           5.99
97          2020            12  11942227.0          -0.94
12          2018            13  12500391.0           4.67
64          2019            13  13219143.0           5.75
98          2020            13  12608663.0          -4.62
13          2018            14  13500102.0           7.07
65          2019            14  14270050.0           5.70
99          2020            14  13263714.0          -7.05
14          2018            15  14529059.0           9.54
66          2019            15  15434994.0           6.24
100         2020            15  14089662.0          -8.72
15          2018            16  15692873.0          11.38
67          2019            16  16659836.0           6.16
101         2020            16  14884231.0         -10.66
16          2018            17  16882888.0          13.43
68          2019            17  17780965.0           5.32
17          2018            18  17986905.8           1.16
69          2019            18  18903704.0           5.10
18          2018            19  19240328.8           1.78
70          2019            19  20073320.0           4.33
19          2018            20  20424335.8           1.75
71          2019            20  21259419.0           4.09

In [6]:
result.sort_values(by=['fiscal_year','week_of_year'],inplace=True)

In [7]:
result

     fiscal_year  week_of_year  cumulative  percent_cumul
11          2018            12  11374615.0            NaN
12          2018            13  12500391.0           4.67
13          2018            14  13500102.0           7.07
14          2018            15  14529059.0           9.54
15          2018            16  15692873.0          11.38
16          2018            17  16882888.0          13.43
17          2018            18  17986905.8           1.16
18          2018            19  19240328.8           1.78
19          2018            20  20424335.8           1.75
63          2019            12  12055931.0           5.99
64          2019            13  13219143.0           5.75
65          2019            14  14270050.0           5.70
66          2019            15  15434994.0           6.24
67          2019            16  16659836.0           6.16
68          2019            17  17780965.0           5.32
69          2019            18  18903704.0           5.10
70          2019            19  20073320.0           4.33
71          2019            20  21259419.0           4.09
97          2020            12  11942227.0          -0.94
98          2020            13  12608663.0          -4.62
99          2020            14  13263714.0          -7.05
100         2020            15  14089662.0          -8.72
101         2020            16  14884231.0         -10.66