In [52]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
sales_data = create_pandas_table("SELECT week_of_year, sales, total_guest_count, fiscal_year, location FROM sales WHERE fiscal_year > 2017 ORDER BY week_of_year, fiscal_year")
cur.close()
conn.close()

df=sales_data

df.fillna(0,inplace=True)

#find current year
current_year=df['fiscal_year'].max()

#find current week based on last entry in df
curr_week=df[df['fiscal_year']==current_year]['week_of_year'].max()

df=df[(df['week_of_year'] >= curr_week-6) & (df['week_of_year'] <= curr_week+6)]

df_agg_sales=df.groupby(['fiscal_year','week_of_year'])['sales'].sum().reset_index()
df_agg_gc=df.groupby(['fiscal_year','week_of_year'])['total_guest_count'].sum().reset_index()

df['percent_sales']=df['sales'].pct_change().round(4)*100
df['percent_guest_count']=df['total_guest_count'].pct_change().round(4)*100
df.sort_values(by=['fiscal_year','week_of_year'],inplace=True)

<ipython-input-52-870bec1120d5>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_sales']=df['sales'].pct_change().round(4)*100
<ipython-input-52-870bec1120d5>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_guest_count']=df['total_guest_count'].pct_change().round(4)*100
<ipython-input-52-870bec1120d5>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(by=['fiscal_year','week_of_year'],inplace=True)

In [53]:
df_agg_gc

    fiscal_year  week_of_year  total_guest_count
0          2018            10            59283.0
1          2018            11            63657.0
2          2018            12            60238.0
3          2018            13            62201.0
4          2018            14            58772.0
5          2018            15            59738.0
6          2018            16            63355.0
7          2018            17            62603.0
8          2018            18            61171.0
9          2018            19            64492.0
10         2018            20            63689.0
11         2018            21            68502.0
12         2018            22            70391.0
13         2019            10           114387.0
14         2019            11           113454.0
15         2019            12           109349.0
16         2019            13           124372.0
17         2019            14           115973.0
18         2019            15           123094.0
19         2019            16           128876.0
20         2019            17            64693.0
21         2019            18            64209.0
22         2019            19            66256.0
23         2019            20            66720.0
24         2019            21            72765.0
25         2019            22            74668.0
26         2020            10           113161.0
27         2020            11           100012.0
28         2020            12            77335.0
29         2020            13            74250.0
30         2020            14            64191.0
31         2020            15            78104.0
32         2020            16            77499.0

In [62]:
df_total=df_agg_sales.join(df_agg_gc, lsuffix='_l',rsuffix='_r')
df_total

,fiscal_year_l,week_of_year_l,sales,fiscal_year_r,week_of_year_r,total_guest_count
0,2018,10,1018265.0,2018,10,59283.0
1,2018,11,1042652.0,2018,11,63657.0
2,2018,12,1028983.0,2018,12,60238.0
3,2018,13,1125776.0,2018,13,62201.0
4,2018,14,999711.0,2018,14,58772.0
5,2018,15,1028957.0,2018,15,59738.0
6,2018,16,1163814.0,2018,16,63355.0
7,2018,17,1190015.0,2018,17,62603.0
8,2018,18,1104017.8,2018,18,61171.0
9,2018,19,1253423.0,2018,19,64492.0
10,2018,20,1184007.0,2018,20,63689.0
11,2018,21,1265894.0,2018,21,68502.0
12,2018,22,1239272.0,2018,22,70391.0
13,2019,10,1055813.0,2019,10,114387.0
14,2019,11,1084874.0,2019,11,113454.0
15,2019,12,1051818.0,2019,12,109349.0
16,2019,13,1163212.0,2019,13,124372.0
17,2019,14,1050907.0,2019,14,115973.0
18,2019,15,1164944.0,2019,15,123094.0
19,2019,16,1224842.0,2019,16,128876.0
20,2019,17,1121129.0,2019,17,64693.0
21,2019,18,1122739.0,2019,18,64209.0
22,2019,19,1169616.0,2019,19,66256.0
23,2019,20,1186099.0,2019,20,66720.0
24,2019,21,1349679.0,2019,21,72765.0
25,2019,22,1293463.0,2019,22,74668.0
26,2020,10,1093268.0,2020,10,113161.0
27,2020,11,966854.0,2020,11,100012.0
28,2020,12,728004.0,2020,12,77335.0
29,2020,13,666436.0,2020,13,74250.0
30,2020,14,655051.0,2020,14,64191.0
31,2020,15,825948.0,2020,15,78104.0
32,2020,16,794569.0,2020,16,77499.0

In [63]:
df_total.drop(columns=['fiscal_year_r','week_of_year_r'],inplace=True)
df_total.rename(columns={'fiscal_year_l':'fiscal_year','week_of_year_l':'week_of_year'},inplace=True)

In [64]:
df_total

    fiscal_year  week_of_year      sales  total_guest_count
0          2018            10  1018265.0            59283.0
1          2018            11  1042652.0            63657.0
2          2018            12  1028983.0            60238.0
3          2018            13  1125776.0            62201.0
4          2018            14   999711.0            58772.0
5          2018            15  1028957.0            59738.0
6          2018            16  1163814.0            63355.0
7          2018            17  1190015.0            62603.0
8          2018            18  1104017.8            61171.0
9          2018            19  1253423.0            64492.0
10         2018            20  1184007.0            63689.0
11         2018            21  1265894.0            68502.0
12         2018            22  1239272.0            70391.0
13         2019            10  1055813.0           114387.0
14         2019            11  1084874.0           113454.0
15         2019            12  1051818.0           109349.0
16         2019            13  1163212.0           124372.0
17         2019            14  1050907.0           115973.0
18         2019            15  1164944.0           123094.0
19         2019            16  1224842.0           128876.0
20         2019            17  1121129.0            64693.0
21         2019            18  1122739.0            64209.0
22         2019            19  1169616.0            66256.0
23         2019            20  1186099.0            66720.0
24         2019            21  1349679.0            72765.0
25         2019            22  1293463.0            74668.0
26         2020            10  1093268.0           113161.0
27         2020            11   966854.0           100012.0
28         2020            12   728004.0            77335.0
29         2020            13   666436.0            74250.0
30         2020            14   655051.0            64191.0
31         2020            15   825948.0            78104.0
32         2020            16   794569.0            77499.0