In [256]:
import psycopg2
import pandas as pd

In [257]:
conn = psycopg2.connect(host="ec2-184-73-210-189.compute-1.amazonaws.com", port = 5432, database="d2pmjsmj1pat21", user="aobhdjhqnrrcrb", password="cea328c1695a2b2cccaf0d79fa8312356185029ab8d391e56ba2e1d18b87b6c2")

In [258]:
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

In [259]:
cur = conn.cursor()
vendor_info = create_pandas_table("SELECT * FROM sales")
cur.close()
conn.close()
df=vendor_info

In [260]:
df

,id,week_ending,fiscal_month,fiscal_year,week_of_month,week_of_year,concept,location,sales,bbq_sales,taco_sales,group_meal_sales,mavn_sales,doordash_sales,total_guest_count,bbq_guest_count,taco_guest_count
0,3,2020-03-15,March,2020,3,11,Rudy's,Round Rock,204077.0,NaN,NaN,37036.0,4741.08,5369.82,204577.0,12710.0,7747.0
1,4,2020-03-15,March,2020,3,11,Rudy's,620,109862.0,NaN,NaN,11529.0,1552.45,2700.55,11164.0,6215.0,4949.0
2,5,2020-03-15,March,2020,3,11,Rudy's,Lamar,101523.0,NaN,NaN,20142.0,1524.51,4215.59,10188.0,6823.0,3365.0
3,6,2020-03-15,March,2020,3,11,Mighty Fine,MF1,48449.0,NaN,NaN,NaN,2043.03,3318.12,5205.0,NaN,NaN
4,7,2020-03-15,March,2020,3,11,Mighty Fine,MF2,42416.0,NaN,NaN,NaN,2198.63,1927.93,4717.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,2998,2020-03-08,March,2020,2,10,Rudy's,620,116690.0,75813.0,24679.0,13413.0,918.00,2815.00,5721.0,NaN,NaN
1563,2999,2020-03-08,March,2020,2,10,Rudy's,Lamar,122365.0,78284.0,15965.0,29380.0,1748.00,3749.00,6460.0,NaN,NaN
1564,3000,2020-03-08,March,2020,2,10,Rudy's,360,180030.0,124215.0,24376.0,34124.0,1640.00,2692.00,8890.0,NaN,NaN
1565,3001,2020-03-08,March,2020,2,10,Rudy's,Round Rock,227606.0,147365.0,39295.0,44706.0,2514.00,4976.00,10575.0,NaN,NaN
1566,3002,2020-03-08,March,2020,2,10,Rudy's,183,209525.0,129075.0,48527.0,49528.0,1926.00,7143.00,9409.0,NaN,NaN

In [261]:
df.drop(columns=['id','fiscal_month','fiscal_year','week_of_month','week_of_year','concept','bbq_sales','taco_sales','group_meal_sales','mavn_sales','doordash_sales','total_guest_count','bbq_guest_count','taco_guest_count'],inplace=True)

In [280]:
df.sort_values(by='week_ending')

   week_ending    location     sales
15  2017-01-08        MFT1    2830.0
16  2017-01-08        MFT2   15458.0
19  2017-01-08  Round Rock  165039.0
14  2017-01-08         MF4   52862.0
13  2017-01-08         MF3   48782.0
..         ...         ...       ...
3   2020-03-15         MF1   48449.0
2   2020-03-15       Lamar  101523.0
1   2020-03-15         620  109862.0
0   2020-03-15  Round Rock  204077.0
10  2020-03-22         183  126059.0

[1567 rows x 3 columns]

In [330]:
north=df[df['location'] == '183']
df=df[df['location']=='183']

In [332]:
df

     week_ending location     sales
8     2020-03-15      183  178039.0
10    2020-03-22      183  126059.0
21    2017-01-08      183  178988.0
32    2017-01-15      183  220394.0
43    2017-01-22      183  221491.0
...          ...      ...       ...
1526  2020-02-09      183  189063.0
1536  2020-02-16      183  206188.0
1546  2020-02-23      183  208037.0
1556  2020-03-01      183  214975.0
1566  2020-03-08      183  209525.0

[150 rows x 3 columns]

In [329]:
north['week_ending']=north['week_ending'].astype('datetime64[ns]')
north.sort_values(by='week_ending', inplace=True)
north.reset_index(inplace=True)
north.drop(columns='index')

<ipython-input-329-8b15945bb4d4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  north['week_ending']=north['week_ending'].astype('datetime64[ns]')
<ipython-input-329-8b15945bb4d4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  north.sort_values(by='week_ending', inplace=True)

    week_ending location     sales
0    2017-01-08      183  178988.0
1    2017-01-15      183  220394.0
2    2017-01-22      183  221491.0
3    2017-01-29      183  212698.0
4    2017-02-05      183  222036.0
..          ...      ...       ...
145  2020-02-23      183  208037.0
146  2020-03-01      183  214975.0
147  2020-03-08      183  209525.0
148  2020-03-15      183  178039.0
149  2020-03-22      183  126059.0

[150 rows x 3 columns]