In [1]:
import psycopg2
import pandas as pd

In [6]:
conn = psycopg2.connect(host="ec2-184-73-210-189.compute-1.amazonaws.com", port = 5432, database="d2pmjsmj1pat21", user="aobhdjhqnrrcrb", password="cea328c1695a2b2cccaf0d79fa8312356185029ab8d391e56ba2e1d18b87b6c2")

In [7]:
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

In [8]:
cur = conn.cursor()
sales_data = create_pandas_table("SELECT * FROM sales WHERE week_ending > '2017-12-31'")
cur.close()
conn.close()

df=sales_data

#find highest year in df
max_year=df['fiscal_year'].max()

#find current week based on last entry in df
curr_week=df[df['fiscal_year']==max_year]['week_of_year'].max()

#set starting range for sales graph
start_week=curr_week-6

In [9]:
df['week_ending']=df['week_ending'].astype('datetime64[ns]')
df['week_of_year']=df['week_of_year'].astype('int')
df=df[(df['week_of_year'] >= curr_week-4) & (df['week_of_year'] <= curr_week+4)]
df.sort_values(by='week_ending', inplace=True)
df.reset_index(inplace=True)
df.drop(columns='index')
df_start=df[(df['location']=='183')]

c:\users\gunhoe86\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [11]:
df

,index,id,week_ending,fiscal_month,fiscal_year,week_of_month,week_of_year,concept,location,sales,bbq_sales,taco_sales,group_meal_sales,mavn_sales,doordash_sales,total_guest_count,bbq_guest_count,taco_guest_count
0,108,2106,2018-02-25,February,2018,4,8,Rudy's,360,200974.0,NaN,NaN,45412.34,NaN,NaN,8384.0,NaN,NaN
1,106,2104,2018-02-25,February,2018,4,8,Rudy's,Round Rock,198392.0,NaN,NaN,37678.13,NaN,NaN,8790.0,NaN,NaN
2,105,2103,2018-02-25,February,2018,4,8,Rudy's,620,111508.0,NaN,NaN,11349.09,NaN,NaN,5386.0,NaN,NaN
3,104,2102,2018-02-25,February,2018,4,8,Rudy's,Lamar,0.0,NaN,NaN,0.00,NaN,NaN,0.0,NaN,NaN
4,103,2101,2018-02-25,February,2018,4,8,Mighty Fine,MFT2,17387.0,NaN,NaN,0.00,NaN,NaN,1740.0,NaN,NaN
5,102,2100,2018-02-25,February,2018,4,8,Mighty Fine,MFT1,0.0,NaN,NaN,0.00,NaN,NaN,0.0,NaN,NaN
6,101,2099,2018-02-25,February,2018,4,8,Mighty Fine,MF4,60989.0,NaN,NaN,0.00,NaN,NaN,6356.0,NaN,NaN
7,100,2098,2018-02-25,February,2018,4,8,Mighty Fine,MF3,56627.0,NaN,NaN,0.00,NaN,NaN,5789.0,NaN,NaN
8,99,2097,2018-02-25,February,2018,4,8,Mighty Fine,MF2,51267.0,NaN,NaN,0.00,NaN,NaN,5128.0,NaN,NaN
9,98,2096,2018-02-25,February,2018,4,8,Mighty Fine,MF1,53016.0,NaN,NaN,0.00,NaN,NaN,5283.0,NaN,NaN
10,107,2105,2018-02-25,February,2018,4,8,Rudy's,183,217417.0,NaN,NaN,38929.72,NaN,NaN,9780.0,NaN,NaN
11,109,2107,2018-03-04,March,2018,1,9,Mighty Fine,MF1,52960.0,NaN,NaN,0.00,NaN,NaN,5263.0,NaN,NaN
12,110,2108,2018-03-04,March,2018,1,9,Mighty Fine,MF2,49541.0,NaN,NaN,0.00,NaN,NaN,4999.0,NaN,NaN
13,111,2109,2018-03-04,March,2018,1,9,Mighty Fine,MF3,60147.0,NaN,NaN,0.00,NaN,NaN,6120.0,NaN,NaN
14,112,2110,2018-03-04,March,2018,1,9,Mighty Fine,MF4,60078.0,NaN,NaN,0.00,NaN,NaN,6195.0,NaN,NaN
15,113,2111,2018-03-04,March,2018,1,9,Mighty Fine,MFT1,8794.0,NaN,NaN,0.00,NaN,NaN,548.0,NaN,NaN
16,119,2117,2018-03-04,March,2018,1,9,Rudy's,183,239217.0,NaN,NaN,53123.41,NaN,NaN,10207.0,NaN,NaN
17,116,2114,2018-03-04,March,2018,1,9,Rudy's,620,120624.0,NaN,NaN,15071.35,NaN,NaN,5680.0,NaN,NaN
18,117,2115,2018-03-04,March,2018,1,9,Rudy's,Round Rock,206290.0,NaN,NaN,34369.95,NaN,NaN,9399.0,NaN,NaN
19,118,2116,2018-03-04,March,2018,1,9,Rudy's,360,202998.0,NaN,NaN,43605.59,NaN,NaN,8516.0,NaN,NaN
20,115,2113,2018-03-04,March,2018,1,9,Rudy's,Lamar,0.0,NaN,NaN,0.00,NaN,NaN,0.0,NaN,NaN
21,114,2112,2018-03-04,March,2018,1,9,Mighty Fine,MFT2,20430.0,NaN,NaN,0.00,NaN,NaN,2023.0,NaN,NaN
22,120,2118,2018-03-11,March,2018,2,10,Mighty Fine,MF1,54620.0,NaN,NaN,0.00,NaN,NaN,5486.0,NaN,NaN
23,121,2119,2018-03-11,March,2018,2,10,Mighty Fine,MF2,49541.0,NaN,NaN,0.00,NaN,NaN,5016.0,NaN,NaN
24,122,2120,2018-03-11,March,2018,2,10,Mighty Fine,MF3,58733.0,NaN,NaN,0.00,NaN,NaN,6001.0,NaN,NaN
25,123,2121,2018-03-11,March,2018,2,10,Mighty Fine,MF4,58956.0,NaN,NaN,0.00,NaN,NaN,6024.0,NaN,NaN
26,124,2122,2018-03-11,March,2018,2,10,Mighty Fine,MFT1,12764.0,NaN,NaN,0.00,NaN,NaN,716.0,NaN,NaN
27,125,2123,2018-03-11,March,2018,2,10,Mighty Fine,MFT2,21908.0,NaN,NaN,0.00,NaN,NaN,2145.0,NaN,NaN
28,126,2124,2018-03-11,March,2018,2,10,Rudy's,Lamar,0.0,NaN,NaN,0.00,NaN,NaN,0.0,NaN,NaN
29,127,2125,2018-03-11,March,2018,2,10,Rudy's,620,116636.0,NaN,NaN,11175.57,NaN,NaN,5677.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,994,2993,2020-03-08,March,2020,2,10,Mighty Fine,MF1,54119.0,NaN,NaN,NaN,1836.00,3647.00,5302.0,NaN,NaN
210,995,2994,2020-03-08,March,2020,2,10,Mighty Fine,MF2,49892.0,NaN,NaN,NaN,2073.00,1915.00,5066.0,NaN,NaN
211,996,2995,2020-03-08,March,2020,2,10,Mighty Fine,MF3,55263.0,NaN,NaN,NaN,1893.00,2284.00,5703.0,NaN,NaN
212,997,2996,2020-03-08,March,2020,2,10,Mighty Fine,MF4,58636.0,NaN,NaN,NaN,3042.00,2066.00,6398.0,NaN,NaN
213,998,2997,2020-03-08,March,2020,2,10,Mighty Fine,MFT2,19142.0,NaN,NaN,NaN,2062.00,869.00,1967.0,NaN,NaN
214,999,2998,2020-03-08,March,2020,2,10,Rudy's,620,116690.0,75813.0,24679.0,13413.00,918.00,2815.00,5721.0,NaN,NaN
215,1000,2999,2020-03-08,March,2020,2,10,Rudy's,Lamar,122365.0,78284.0,15965.0,29380.00,1748.00,3749.00,6460.0,NaN,NaN
216,1001,3000,2020-03-08,March,2020,2,10,Rudy's,360,180030.0,124215.0,24376.0,34124.00,1640.00,2692.00,8890.0,NaN,NaN
217,1003,3002,2020-03-08,March,2020,2,10,Rudy's,183,209525.0,129075.0,48527.0,49528.00,1926.00,7143.00,9409.0,NaN,NaN
218,1002,3001,2020-03-08,March,2020,2,10,Rudy's,Round Rock,227606.0,147365.0,39295.0,44706.00,2514.00,4976.00,10575.0,NaN,NaN
219,0,4,2020-03-15,March,2020,3,11,Rudy's,620,109862.0,NaN,NaN,11529.00,1552.45,2700.55,11164.0,6215.0,4949.0
220,1,5,2020-03-15,March,2020,3,11,Rudy's,Lamar,101523.0,NaN,NaN,20142.00,1524.51,4215.59,10188.0,6823.0,3365.0
221,2,6,2020-03-15,March,2020,3,11,Mighty Fine,MF1,48449.0,NaN,NaN,NaN,2043.03,3318.12,5205.0,NaN,NaN
222,3,7,2020-03-15,March,2020,3,11,Mighty Fine,MF2,42416.0,NaN,NaN,NaN,2198.63,1927.93,4717.0,NaN,NaN
223,4,8,2020-03-15,March,2020,3,11,Mighty Fine,MF3,51925.0,NaN,NaN,NaN,2478.95,1794.18,5615.0,NaN,NaN
224,5,9,2020-03-15,March,2020,3,11,Mighty Fine,MF4,54129.0,NaN,NaN,NaN,4472.44,2544.22,5860.0,NaN,NaN
225,6,10,2020-03-15,March,2020,3,11,Mighty Fine,MFT2,18310.0,NaN,NaN,NaN,2575.92,764.80,1703.0,NaN,NaN
226,7,1,2020-03-15,March,2020,3,11,Rudy's,183,178039.0,NaN,NaN,38001.00,3068.49,5939.96,20101.0,10436.0,9665.0
227,11,3,2020-03-15,March,2020,3,11,Rudy's,Round Rock,204077.0,NaN,NaN,37036.00,4741.08,5369.82,20457.0,12710.0,7747.0
228,8,2,2020-03-15,March,2020,3,11,Rudy's,360,158124.0,NaN,NaN,30212.00,1807.92,2601.41,15002.0,9669.0,5333.0
229,19,3012,2020-03-22,March,2020,4,12,Mighty Fine,MFT2,17718.0,NaN,NaN,NaN,3250.00,1620.00,1703.0,NaN,NaN
230,12,3005,2020-03-22,March,2020,4,12,Rudy's,Round Rock,154698.0,102353.0,22739.0,49302.00,17046.00,9511.00,15078.0,10180.0,4898.0
231,13,3006,2020-03-22,March,2020,4,12,Rudy's,620,80801.0,53233.0,14122.0,19318.00,6340.00,5372.00,8172.0,4769.0,3403.0
232,14,3007,2020-03-22,March,2020,4,12,Rudy's,Lamar,68153.0,46323.0,8988.0,21540.00,4786.00,6292.00,6966.0,4817.0,2149.0
233,15,3008,2020-03-22,March,2020,4,12,Mighty Fine,MF1,40886.0,NaN,NaN,NaN,6769.00,5255.00,5205.0,NaN,NaN
234,16,3009,2020-03-22,March,2020,4,12,Mighty Fine,MF2,35037.0,NaN,NaN,NaN,7194.00,5139.00,4717.0,NaN,NaN
235,17,3010,2020-03-22,March,2020,4,12,Mighty Fine,MF3,47518.0,NaN,NaN,NaN,8685.00,4012.00,5615.0,NaN,NaN
236,18,3011,2020-03-22,March,2020,4,12,Mighty Fine,MF4,45044.0,NaN,NaN,NaN,10702.00,4544.00,5860.0,NaN,NaN
237,10,3003,2020-03-22,March,2020,4,12,Rudy's,183,126059.0,75523.0,21337.0,40510.00,9656.00,6381.00,13606.0,8090.0,5516.0
238,9,3004,2020-03-22,March,2020,4,12,Rudy's,360,112090.0,80586.0,11375.0,35028.00,9656.00,6381.00,10413.0,7600.0,2813.0

In [44]:
df_sales=df[df['location']=='183']
df_guest_count=df[df['location']=='183']
weekly_sales=df_sales[(df_sales['location']=='183') & (df_sales['week_of_year']==curr_week) & (df_sales['fiscal_year']==max_year)]['sales'].astype('int')
print(weekly_sales)

237    126059
Name: sales, dtype: int32