In [10]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
sales_data = create_pandas_table("SELECT week_of_year, sales, total_guest_count, mavn_sales, doordash_sales, bbq_guest_count, taco_guest_count, fiscal_year FROM sales WHERE fiscal_year > 2017 AND location = '183' ORDER BY week_of_year, fiscal_year")
cur.close()
conn.close()

df=sales_data

df.fillna(0,inplace=True)

#find current year
current_year=df['fiscal_year'].max()

#find current week based on last entry in df
curr_week=df[df['fiscal_year']==current_year]['week_of_year'].max()

df=df[(df['week_of_year'] >= curr_week-6) & (df['week_of_year'] <= curr_week+6)]

df['percent_sales']=df['sales'].pct_change().round(4)*100
df['percent_guest_count']=df['total_guest_count'].pct_change().round(4)*100
df['percent_bbq']=df['bbq_guest_count'].pct_change().round(4)*100
df['percent_tacos']=df['taco_guest_count'].pct_change().round(4)*100
df['percent_olo']=df['mavn_sales'].pct_change().round(4)*100
df['percent_doordash']=df['doordash_sales'].pct_change().round(4)*100
df.sort_values(by=['fiscal_year','week_of_year'],inplace=True)

<ipython-input-10-74bb01f169eb>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_sales']=df['sales'].pct_change().round(4)*100
<ipython-input-10-74bb01f169eb>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_guest_count']=df['total_guest_count'].pct_change().round(4)*100
<ipython-input-10-74bb01f169eb>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_bbq']=df['bbq_guest_count'].pct_change().round(4)*100
<ipython-input-10-74bb01f169eb>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_tacos']=df['taco_guest_count'].pct_change().round(4)*100
<ipython-input-10-74bb01f169eb>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_olo']=df['mavn_sales'].pct_change().round(4)*100
<ipython-input-10-74bb01f169eb>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_doordash']=df['doordash_sales'].pct_change().round(4)*100
<ipython-input-10-74bb01f169eb>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(by=['fiscal_year','week_of_year'],inplace=True)

In [11]:
df

,week_of_year,sales,total_guest_count,mavn_sales,doordash_sales,bbq_guest_count,taco_guest_count,fiscal_year,percent_sales,percent_guest_count,percent_bbq,percent_tacos,percent_olo,percent_doordash
33,12,234856.00,10574.0,0.00,0.00,0.0,0.0,2018,NaN,NaN,NaN,NaN,NaN,NaN
36,13,266868.00,10981.0,0.00,0.00,0.0,0.0,2018,111.70,-19.29,-100.0,-100.0,-100.0,-100.0
39,14,226531.00,10014.0,0.00,0.00,0.0,0.0,2018,88.33,-19.09,-100.0,-100.0,-100.0,-100.0
42,15,233778.00,10372.0,0.00,0.00,0.0,0.0,2018,101.26,-14.66,-100.0,-100.0,-100.0,-100.0
45,16,245674.00,10280.0,0.00,0.00,0.0,0.0,2018,57.12,-32.27,-100.0,-100.0,-100.0,-100.0
48,17,233692.00,9844.0,0.00,0.00,0.0,0.0,2018,72.19,-29.35,-100.0,-100.0,-100.0,-100.0
51,18,214746.00,0.0,0.00,0.00,0.0,0.0,2018,43.58,-100.00,-100.0,-100.0,-100.0,-100.0
54,19,257168.00,10435.0,0.00,0.00,0.0,0.0,2018,58.20,-37.59,-100.0,-100.0,-100.0,-100.0
56,20,237819.00,10064.0,0.00,0.00,0.0,0.0,2018,-2.27,-4.41,NaN,NaN,NaN,NaN
58,21,257698.00,10510.0,0.00,0.00,0.0,0.0,2018,20.10,7.11,NaN,NaN,NaN,NaN
60,22,254328.00,10511.0,0.00,0.00,0.0,0.0,2018,0.73,-4.98,NaN,NaN,NaN,NaN
62,23,257501.00,10548.0,0.00,0.00,0.0,0.0,2018,5.75,-3.83,NaN,NaN,NaN,NaN
64,24,262936.44,11109.0,0.00,0.00,0.0,0.0,2018,20.41,15.57,NaN,NaN,NaN,NaN
34,12,200601.00,22922.0,0.00,0.00,0.0,0.0,2019,-14.59,116.78,NaN,NaN,NaN,NaN
37,13,224337.00,26446.0,0.00,0.00,0.0,0.0,2019,-15.94,140.83,NaN,NaN,NaN,NaN
40,14,202393.00,24255.0,0.00,0.00,0.0,0.0,2019,-10.66,142.21,NaN,NaN,NaN,NaN
43,15,227955.00,26632.0,0.00,0.00,0.0,0.0,2019,-2.49,156.77,NaN,NaN,NaN,NaN
46,16,245362.00,28140.0,0.00,0.00,0.0,0.0,2019,-0.13,173.74,NaN,NaN,NaN,NaN
49,17,215223.00,25563.0,0.00,0.00,0.0,0.0,2019,-7.90,159.68,NaN,NaN,NaN,NaN
52,18,225242.00,25836.0,0.00,0.00,0.0,0.0,2019,4.89,inf,NaN,NaN,NaN,NaN
55,19,243343.00,10528.0,0.00,0.00,0.0,0.0,2019,-5.38,0.89,NaN,NaN,NaN,NaN
57,20,214573.00,9812.0,0.00,0.00,0.0,0.0,2019,-9.77,-2.50,NaN,NaN,NaN,NaN
59,21,252485.00,11062.0,0.00,0.00,0.0,0.0,2019,-2.02,5.25,NaN,NaN,NaN,NaN
61,22,243502.00,10968.0,0.00,0.00,0.0,0.0,2019,-4.26,4.35,NaN,NaN,NaN,NaN
63,23,218359.00,9612.0,0.00,0.00,0.0,0.0,2019,-15.20,-8.87,NaN,NaN,NaN,NaN
65,24,228744.00,10679.0,0.00,0.00,0.0,0.0,2019,-13.00,-3.87,NaN,NaN,NaN,NaN
35,12,126059.00,13606.0,9656.00,6381.00,8090.0,5516.0,2020,-37.16,-40.64,inf,inf,inf,inf
38,13,120283.00,12376.0,19748.04,13803.86,8083.0,4293.0,2020,-46.38,-53.20,inf,inf,inf,inf
41,14,116159.00,12154.0,24764.77,15748.87,8197.0,3957.0,2020,-42.61,-49.89,inf,inf,inf,inf
44,15,156359.00,15179.0,41101.49,20677.23,11151.0,4028.0,2020,-31.41,-43.00,inf,inf,inf,inf
47,16,135714.00,13934.0,30819.22,15306.04,9431.0,4503.0,2020,-44.69,-50.48,inf,inf,inf,inf
50,17,149567.00,15285.0,39145.00,17278.99,10410.0,4875.0,2020,-30.51,-40.21,inf,inf,inf,inf
53,18,162557.00,16721.0,47300.64,15249.22,11309.0,5412.0,2020,-27.83,-35.28,inf,inf,inf,inf