In [3]:
import pandas as pd
from psql_config import config
import psycopg2

params=config()
conn=psycopg2.connect(**params)
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

cur = conn.cursor()
sales_data = create_pandas_table("SELECT week_of_year, sales, total_guest_count, mavn_sales, doordash_sales, bbq_guest_count, taco_guest_count, fiscal_year FROM sales WHERE fiscal_year > 2017 AND location = '183' ORDER BY week_of_year, fiscal_year")
cur.close()
conn.close()

df=sales_data

df.fillna(0,inplace=True)

#find current year
current_year=df['fiscal_year'].max()

#find current week based on last entry in df
curr_week=df[df['fiscal_year']==current_year]['week_of_year'].max()

df=df[(df['week_of_year'] >= curr_week-6) & (df['week_of_year'] <= curr_week+6)]

df['percent_sales']=df['sales'].pct_change().round(4)*100
df['percent_guest_count']=df['total_guest_count'].pct_change().round(4)*100
df['percent_bbq']=df['bbq_guest_count'].pct_change().round(4)*100
df['percent_tacos']=df['taco_guest_count'].pct_change().round(4)*100
df.sort_values(by=['fiscal_year','week_of_year'],inplace=True)

c:\users\gunhoe86\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\gunhoe86\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\gunhoe86\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\gunhoe86\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\gunhoe86\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
df

,week_of_year,sales,total_guest_count,mavn_sales,doordash_sales,bbq_guest_count,taco_guest_count,fiscal_year,percent_sales,percent_guest_count,percent_bbq,percent_tacos
39,14,226531.00,10014.0,0.00,0.00,0.0,0.0,2018,NaN,NaN,NaN,NaN
42,15,233778.00,10372.0,0.00,0.00,0.0,0.0,2018,101.26,-14.66,-100.00,-100.00
45,16,245674.00,10280.0,0.00,0.00,0.0,0.0,2018,57.12,-32.27,-100.00,-100.00
48,17,233692.00,9844.0,0.00,0.00,0.0,0.0,2018,72.19,-29.35,-100.00,-100.00
51,18,214746.00,0.0,0.00,0.00,0.0,0.0,2018,43.58,-100.00,-100.00,-100.00
54,19,257168.00,27543.0,0.00,0.00,0.0,0.0,2018,58.20,64.72,-100.00,-100.00
57,20,237819.00,10064.0,0.00,0.00,0.0,0.0,2018,24.37,-47.48,-100.00,-100.00
60,21,257698.00,10510.0,0.00,0.00,0.0,0.0,2018,57.92,-37.50,-100.00,-100.00
62,22,254328.00,10511.0,0.00,0.00,0.0,0.0,2018,0.73,-4.98,NaN,NaN
64,23,257501.00,10548.0,0.00,0.00,0.0,0.0,2018,5.75,-3.83,NaN,NaN
66,24,262936.44,11109.0,0.00,0.00,0.0,0.0,2018,20.41,15.57,NaN,NaN
68,25,246971.29,10086.0,0.00,0.00,0.0,0.0,2018,7.97,-5.55,NaN,NaN
70,26,216883.89,10404.0,0.00,0.00,0.0,0.0,2018,3.29,10.73,NaN,NaN
40,14,202393.00,24255.0,0.00,0.00,0.0,0.0,2019,-10.66,142.21,NaN,NaN
43,15,227955.00,26632.0,0.00,0.00,0.0,0.0,2019,-2.49,156.77,NaN,NaN
46,16,245362.00,28140.0,0.00,0.00,0.0,0.0,2019,-0.13,173.74,NaN,NaN
49,17,215223.00,25563.0,0.00,0.00,0.0,0.0,2019,-7.90,159.68,NaN,NaN
52,18,225242.00,25836.0,0.00,0.00,0.0,0.0,2019,4.89,inf,NaN,NaN
55,19,243343.00,27543.0,0.00,0.00,15205.0,12338.0,2019,-5.38,0.00,inf,inf
58,20,214573.00,24650.0,0.00,0.00,13552.0,11098.0,2019,-9.77,144.93,inf,inf
61,21,252485.00,11062.0,0.00,0.00,0.0,0.0,2019,-2.02,5.25,NaN,NaN
63,22,243502.00,10968.0,0.00,0.00,0.0,0.0,2019,-4.26,4.35,NaN,NaN
65,23,218359.00,9612.0,0.00,0.00,0.0,0.0,2019,-15.20,-8.87,NaN,NaN
67,24,228744.00,10679.0,0.00,0.00,0.0,0.0,2019,-13.00,-3.87,NaN,NaN
69,25,209984.00,9396.0,0.00,0.00,0.0,0.0,2019,-14.98,-6.84,NaN,NaN
71,26,215813.00,9511.0,0.00,0.00,0.0,0.0,2019,-0.49,-8.58,NaN,NaN
41,14,116159.00,12154.0,24764.77,15748.87,8197.0,3957.0,2020,-42.61,-49.89,inf,inf
44,15,156359.00,15179.0,41101.49,20677.23,11151.0,4028.0,2020,-31.41,-43.00,inf,inf
47,16,135714.00,13934.0,30819.22,15306.04,9431.0,4503.0,2020,-44.69,-50.48,inf,inf
50,17,149567.00,15285.0,39145.00,17278.99,10410.0,4875.0,2020,-30.51,-40.21,inf,inf
53,18,162557.00,16721.0,47300.64,15249.22,11309.0,5412.0,2020,-27.83,-35.28,inf,inf
56,19,191226.00,19163.0,47714.50,15960.85,12996.0,6167.0,2020,-21.42,-30.43,-14.53,-50.02
59,20,163180.00,16816.0,33145.89,16417.23,10931.0,5885.0,2020,-23.95,-31.78,-19.34,-46.97